#pageContent
{
  &.articleView
  {
    @include breakpoint($breakpoint--defaultContentViewPadding)
    {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

.fullArticle
{
  font-family: 'freight-text-pro', serif;
  font-size: 1.15em;

  &.defaultView
  {
    > .articleViewHeader
    {
      font-family: 'proxima-nova', sans-serif;

      .mainInfo
      {
        border-bottom: 1px solid #E6E6E6;
      }

      .section
      {
        font-weight: 700;
        font-size: 0.8em;
        text-transform: uppercase;
        margin-bottom: 30px;

        > a
        {
          color: #000;
          text-decoration: none;

          &:hover
          {
            text-decoration: underline;
          }
        }
      }

      .headline
      {
        font-weight: 800;
        font-size: 2.5em;
        margin-bottom: 20px;
      }
    }

    .byline
    {
      font-size: 0.7em;
      margin-top: 15px;
      margin-bottom: 25px;

      time
      {
        margin-left: 10px;
        text-transform: uppercase;
      }
    }

    .articleShare
    {
      float: left;
      width: 150px;
    }

    .mainVisual
    {
      margin-bottom: 30px;

      > *
      {
        max-width: 100%;
      }

      .caption
      {
        margin-top: 5px;
        font-size: 0.8em;

        .credit
        {
          font-size: 0.9em;
          color: #E6E6E6;
        }
      }
    }

    > .contents
    {
      padding-bottom: 20px;
      border-bottom: 1px solid #E6E6E6;

      > p
      {
        margin-bottom: 20px;
        max-width: 770px;

        &:last-of-type
        {
          margin-bottom: 0;
        }
      }
    }
  }

  .slideshow.inline
  {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 20px;
    width: 770px;

    > header
    {
      padding-top: 5px;
      padding-bottom: 20px;
    }

    @include breakpoint(810px)
    {
      width: 100%;
    }
  }

  .visual
  {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    clear: both;

    &.inline
    {
      width: 770px;
    }

    img
    {
      width: 100%;
    }
  }
}

.moreArticles
{
  margin-top: 20px;

  > header
  {
    > .title
    {
      font-family: 'proxima-nova', sans-serif;
      font-weight: 800;
      font-size: 1.6em;
    }
  }
}

.articlePageBlock
{
  margin-top: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
  max-width: 770px;

  &.readMore
  {
    .blockContents
    {
      > .singleRow
      {
        border-bottom: 1px solid #E6E6E6;
        padding-top: 15px;

        &:first-of-type
        {
          padding-top: 0;

          > article
          {
            &:last-of-type
            {
              padding-bottom: 20px;
            }
          }
        }

        &:last-of-type
        {
          border-bottom: none;
          padding-bottom: none;
        }

        > article
        {
          &:last-of-type
          {
            padding-bottom: 0;
          }
        }
      }

      @include breakpoint($breakpoint--defaultArticleViewReadMoreArticlesSplitToGrid)
      {
        > .singleRow
        {
          background: url(image-path('light-border-line.gif')) repeat-y 50% 0;
          padding-bottom: 15px;

          > article
          {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            padding-top: 0;
            padding-bottom: 0;
            border-bottom: none;

            &:first-of-type
            {
              padding-right: 10px;
            }

            &:last-of-type
            {
              margin-left: -4px;
              padding-left: 10px;
            }
          }
        }
      }
    }

    a
    {
      color: #FF0000;

      &:hover
      {
        color: #FF6666;
      }

      @include transition(color ease 0.5s);
    }
  }

  > header
  {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 15px;

    > .title
    {
      font-family: 'proxima-nova', sans-serif;
      font-weight: 800;
      font-size: 1.4em;
    }
  }

  > .blockContents
  {
    margin-top: 15px;
  }
}