<header class="articleConfigBoxHeader" {{ action "expandCollapseBox" on="click" }}>
    <div class="articleConfigBoxVisibilityButton"></div>
    {{#if title}}
        <h2>{{ title }}</h2>
    {{/if}}

    {{#if description}}
        <p>{{description}}</p>
    {{/if}}
</header>

<div class="articleConfigBoxContainer">
    {{ yield }}
</div>
