<div class="typePreview">
    {{#if type.previewImage}}
        {{ includeImage type.previewImage type.altText classNames="typeImage" }}
    {{else}}
        <div class="blankPreview"></div>
    {{/if}}
</div>

<div class="typeInfo">
    <span class="typeTitle">{{ type.name }}</span>
</div>