<header id="mediaLibTopBar">
    <h2>Media Library</h2>

    {{#if onLibraryClose}}
        <div id="closeMediaLib" {{action "close" on="click" bubbles=false}}></div>
    {{/if}}
</header>

<nav id="mediaLibNav">
    <div class="mediaLibNavItem">
        <a href="#">Library</a>
    </div>

    <div class="mediaLibNavItem">
        <a href="#" {{action "initFilepicker" on="click" bubbles=false}}>Upload</a>
    </div>
</nav>

<div id="mediaLibContent">

</div>

{{!--
{{modal-box isCloseableByOverlayClick=true
            isModalActive=true
            onModalClose=onLibraryClose}}
--}}