- importance_threshold = (defined? importance_thresh ? importance_thresh : 25).to_i
%article.story{class: ('clear' if article.has_featured_media?), itemscope: true, itemtype: 'http://schema.org/Article'}
  - if article.has_featured_media?
    - if article.featured_media_is_collection?
    - else
      %a.storyPictureLinkBox{href: link_to_article(article), itemprop: 'url'}
        %figure.storyPVImage
          %img.storyImage{src: article.get_featured_media.link + '?fit=crop&w=100&h=100', alt: article.get_featured_media.caption, itemprop: 'thumbnailUrl'}
  .storyDetails
    %a{href: link_to_article(article), itemprop: 'url'}
      %h2.storyTitle{itemprop: 'headline'}= article.headline
    .storyByline
      by
      .authors= raw article.formatted_writers_names
      %time.publishingTime{datetime: article.published_at, itemprop: 'datePublished'}= publishing_time(article.published_at)
    .storyExcerpt
      %p{itemprop: 'description'}= raw article.summary