#notice
{
  width: 100%;
  background: #FF0000;
  vertical-align: middle;
  font-family: 'proxima-nova', sans-serif;
  color: #FFF;
  text-align: center;
  padding: 10px;
  line-height: 110%;
  z-index: $zIndex--breakingNews;
}

.noticeClose
{
  display: inline-block;
  position: absolute;
  left: 10px;
  cursor: pointer;
}

#closeDelNotice
{
  &:after
  {
    font-family: 'FontAwesome';
    content: $icons--Close;
    font-size: 20px;
  }
}

.noticeContents
{
  display: inline-block;
  margin-left: 30px;

  > h1
  {
    display: block;
  }
}