.contentBlock
{
  @include breakpoint($primaryContentBreakpoint)
  {
    margin-top: $sectionContentBlockTopMargin;
    margin-left: $contentBlockPaddingToSides;
    margin-right: $contentBlockPaddingToSides;
  }

  @include breakpoint($primaryContentBreakpointWithPadding)
  {
    margin-left: 0;
    margin-right: 0;
  }
}

.topLevel
{
  margin-top: $contentSectionTitleBottomMargin;

  &:first-of-type
  {
    margin-top: 0;
  }
}

.topBlock
{
  @include breakpoint($primaryContentBreakpoint)
  {
    margin-top: 0;
  }
}

.fullWidth
{
  width: 100%;
}

.rowTitle
{
  display: inline-block;
  clear: both;
  color: #000;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 800;
  font-size: 1.7em;
  padding-top: 5px;
  cursor: default;
  text-transform: uppercase;
  border-top: 10px solid #000;
  margin-bottom: $contentSectionTitleBottomMargin;
  margin-left: 15px;
  margin-right: 15px;

  @include breakpoint($primaryContentBreakpoint)
  {
    margin-left: 0;
    margin-right: 0;
  }
}