.overlayedMetaArticles
{
  .excerpt
  {
    display: none;
    margin-top: 0;
  }

  &.one
  {
    .excerpt
    {
      @include breakpoint($primaryContentBreakpoint)
      {
        display: block;
      }
    }
  }

  &.multi
  {
    .partialOverlay
    {
      @include breakpoint($primaryContentBreakpoint)
      {
        display: inline-block;
        margin-right: -4px;
      }
    }
  }

  &.two
  {
    .partialOverlay
    {
      @include breakpoint($primaryContentBreakpoint)
      {
        width: 50%;
      }
    }

    .headline
    {
      font-size: 1.7em;
    }
  }
}