.mediaCard
{
  display: inline-block;
  margin-right: 7.5px;
  //margin-left: 7.5px;
  //margin-bottom: 15px;
  margin-bottom: 7.5px;

  &:first-of-type
  {
    margin-left: 0;
  }

  &:last-of-type
  {
    margin-right: 0;
  }

  &:nth-child(n + 4):nth-last-child(-n + 3)
  {
    margin-bottom: 0;
  }

  &.is-in-modal
  {
    cursor: pointer;
  }

  .cardHeader.normal
  {
    width: 300px;
    height: 200px;

    .title
    {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      padding: 0;
      margin: 15px;
    }

    .cardMenu
    {
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
  }
}

.mediaLibraryCardMenuBtn
{
  padding: 0;
  margin: 8px;
}

.selectedCardOverlay
{

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:  0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  cursor: pointer;
  color: #FFF;
  font-size: 1.2em;
  font-weight: 300;

  @include display-flexbox;
  @include justify-content(center);
  @include align-items(center);

  &:after
  {
    content: 'Selected';
  }

  &.noDefaultText
  {
    &:after
    {
      content: '';
    }
  }

}