<div id="contentContainer">
    <main id="main">
        <div id="pageContent">
            <h1>{{model.name}}</h1>

            {{#draggable-zone dropped="dropItem"}}

            {{/draggable-zone}}

            {{#draggable-item}}
                <h1>Yo</h1>
            {{/draggable-item}}
        </div>
    </main>
</div>