@mixin propertyOnAllSidesExcept($property, $excludeSide, $value)
{
  $possibleSides: 'top', 'left', 'bottom', 'right';

  @each $possibleSide in $possibleSides
  {
    @if $excludeSide != $possibleSide
    {
      #{$property}-#{$possibleSide}: $value;
    }
  }
}

@mixin genericVendorPrefixedProperty($property, $value)
{
  $vendorPrefixes: 'webkit', 'moz', 'o';

  @each $vendorPrefix in $vendorPrefixes
  {
    -#{$vendorPrefix}-#{$property}: $value;
  }

  #{$property}: $value;
}

@mixin calc($property, $value)
{
  #{$property}: -webkit-calc(#{$value});
  #{$property}: -moz-calc(#{$value});
  #{$property}: calc(#{$value});
}

@mixin display-flexbox
{
  // iOS uses this old syntax for some reason...
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}