= render 'partials/staff/header'

= render 'partials/staff/sidebar'

#contentContainer
  %main#main
    %header#pageHeader
      %h1#pageContentTitle
    #pageContent
      %table.contentTable.articlesListTable
        %thead
          %tr
            %th.contentTableLabel.checkColumn.manageMultipleTableItems{scope: 'col'}
              %input.tableSelectAllEntries{type: 'checkbox'}
            %th.contentTableLabel.canBeFiltered.labelArticleHeadline{scope: 'col'}
              %a{:href => '#'}
                %span Headline
            %th.contentTableLabel.labelArticleCreator{scope: 'col'} Creator
            %th.contentTableLabel.labelArticleWriter{scope: 'col'} Writer
            %th.contentTableLabel.labelArticleSection{scope: 'col'} Section
            %th.contentTableLabel.labelArticleTags{scope: 'col'} Tags
            %th.contentTableLabel.canBeFiltered.labelArticleDate{scope: 'col'}
              %a{:href => '#'}
                %span Date
        %tbody.contentTableListBody.allArticles
          - (1..100).each do |a|
            %tr.contentTableEntry
              %th.contentEntryProperty.checkCurrentRow{scope: 'row'}
                %input.selectCurrentTableEntry{type: 'checkbox', value: '54'}
              %td.contentEntryProperty.articlesTableHeadline
                %h1
                  %a.rowEntryTitle{href: '#'} Dario Raschio: Homegrown Portlander, WWII Veteran, Retired FHS Teacher
                .quickActions
                  .editArticle
                    %a{href: '#'} Edit
                  .previewArticle
                    %a{href: '#'} Preview
                  .deleteArticle
                    %a{href: '#'} Delete
              %td.contentEntryProperty.articlesTableCreator
                %a{href: '#'} Jason Chen
              %td.contentEntryProperty.articlesTableWriter
                %a{href: '#'} Jason Chen
              %td.contentEntryProperty.articlesTableSection
                %a{href: '#'} News
              %td.contentEntryProperty.articlesTableTags
                %a.linkChain.first{href: '#'} Damn
              %td.contentEntryProperty.articlesTableDate
                %span.majorText 2015/01/12