#contentContainer
  %main#main
    #pageContent
      %article.defaultView.fullArticle
        %header.articleViewHeader
          .mainInfo
            %h3.section
              %a{:href => '#'} Feature
            %h1.headline Civil Rights Investigation in Ferguson Continues
          .byline
            by
            .authors
              %a{:href => '#'}
                %address.author Jason Chen
            %time March 12, 2015
        .contents
          %figure.mainVisual
            %img{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
            %p.caption
              Anita Sarkeesian is a prominent figure in the opposition to Gamergate.
              %span.credit Feminist Frequency
          %aside.articleShare
            %h1 Yo
          %p Gamergate is a social media movement that has become a conflict between feminists and people calling for journalistic ethics in the gaming industry that has erupted across the internet, especially on 4chan, Reddit, 8chan, and Twitter, using the hashtag #Gamergate. Many people who use the Gamergate hashtag say that the movement is addressing corrupt journalism, but the mainstream media coverage has generally framed 'Gamergaters' as misogynists who think they own the video game industry.
          %p
            The controversy began in August when game developer Zoe Quinn's ex-boyfriend posted extensive blog posts alleging that she had slept with Nathan Grayson, a writer for video game blog Kotaku. The implication was that she had slept with Grayson and others during their relationship in order to receive better coverage of her game
            = succeed "." do
              %em Depression Quest
            Though Quinn and Grayson both denied having traded sex for game coverage, incensed gamers had already taken to social networks, protesting the apparent ethics breach, and setting the Gamergate movement in motion.
          %p
            Quinn and other women in the gaming industry began receiving threats from people associating themselves with Gamergate. Included in those attacked was Anita Sarkeesian of
            = succeed "," do
              %em Feminist Frequency
            a video webseries "exploring the representations of women in pop culture narratives." Sarkeesian eventually became a prominent figure in opposition to Gamergate. She was invited to speak at Utah State University in October about the portrayal of women in video games, but had to cancel her presentation when the university received threats of a school shooting if she were allowed to speak. Utah state law prohibits colleges from restricting gun carriers with a concealed weapons permit, so her proposition to continue the lecture with tightened security was ruled out.
          %figure#dfgdfg.slideshow.mediaCollection.inline
            %script{type: 'application/json'}
              :plain
                {"title":"The Progression of Gamergate","totalSlides":5,"slides":[{"type":"image","link":"http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format","caption":"Anita Sarkeesian is a prominent figure in the opposition to Gamergate.","credit":"Feminist Frequency"},{"type":"image","link":"http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format","caption":"Anita Sarkeesian is a prominent figure in the opposition to Gamergate.","credit":"Feminist Frequency"},{"type":"image","link":"http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format","caption":"Anita Sarkeesian is a prominent figure in the opposition to Gamergate.","credit":"Feminist Frequency"},{"type":"image","link":"http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format","caption":"Anita Sarkeesian is a prominent figure in the opposition to Gamergate.","credit":"Feminist Frequency"},{"type":"image","link":"http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format","caption":"Anita Sarkeean is a prominent figure in the opposition to Gamergate.","credit":"Feminist Frequency"}]}
          %p Kieran Andrews (10), a self-described gamer, sees Gamergate as "a loud minority of people in the gaming society that are afraid of change," and believes that as video games become popular among people of all races, ages, and genders, some men are afraid of the increasing involvement of women in video game culture.
          %p Leader of Franklin's League of Legends Club, Matthew Fairman (11), on the other hand, approved of Gamergate's original call for journalistic ethics.
          %p
            "I feel that originally it wasn't about feminism, but now Anita Sarkeesian is using that as a shield to gather supporters behind her," Fairman said. "It started as something [real], it blew up, and now it is just a mainstream headline:
            = succeed ".\\\"" do
              %em male masses target poor females, feminist leader
            He thinks the media coverage of Gamergate does not show the whole picture, but rather that "all the world is hearing about, all the mainstream media is hearing about, is the threats. They're not hearing about any of the arguments."
          %p At this point Fairman thinks Gamergate is simply giving gamers a bad name, and that they should back off from the movement. Andrews agrees, "The word Gamergate is now tainted. You could write an entire speech about ethics in gaming journalism, and if you use the word Gamergate once, your entire speech gets thrown out the window."
          %p For the most part, the Gamergate movement has lost its momentum. Statistics from Google show that web traffic related to Gamergate has died down considerably since it peaked in late October. The issue of misogyny in previously male-dominated industries, however, will surely continue to incite debate in the future.
        %section.comments
          %header
            %h4.title Comments
      %section.moreArticles
        %header
          %h4.title More News
