#sidebarContainer
  %aside#sidebar
    %nav#navMenu
      .menuItem
        .menuIcon.articlesIcon
        .menuTitle Articles
        .subMenu
          .subMenuItem
            .subMenuTitle All Articles
      .menuItem
        .menuIcon.sectionsIcon
        .menuTitle Sections
        .subMenu
          .subMenuItem
            .subMenuTitle All Sections
      .menuItem
        .menuIcon.usersIcon
        .menuTitle Users
        .subMenu
          .subMenuItem
            .subMenuTitle All Users