#contentContainer
{
  /*
   * We have to use padding here or the body node will be
   * position 40px below the top of the page (due to the
   * header).
   */
  //padding-top: $headerHeight;

  @include breakpoint($sidebarBreakpointHide)
  {
    //margin-left: $sidebarWidth;
  }
}

#main
{

}

#pageHeader
{
  padding-left: $mainContentSidePadding;
  padding-right: $mainContentSidePadding;
}

#pageContent
{
  padding: $mainContentSidePadding;
}

#pageContentTitle
{
  display: inline-block;

}