<div id="contentContainer">
    <main id="main">
        <div id="pageContent">
            <div class="sectionOrganizer">
                <div class="dropContainer">
                    {{ drag-zone-generic-section dropped="didDropItem" }}
                </div>

                <div class="dragContainer">
                    <header class="dragContentTypeSelect">
                        <nav>
                            <div class="dragContentType selected">
                                <span>Articles</span>
                            </div>

                            <div class="dragContentType">
                                <span>Media Collections</span>
                            </div>

                            <div class="dragContentType">
                                <span>Media Entry</span>
                            </div>

                            <div class="dragContentType">
                                <span>Static Entry</span>
                            </div>
                        </nav>
                    </header>

                    <div class="dragItems">
                        {{#each article in articles}}
                            {{draggable-article article=article}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>