<h2 class="title">
    {{title}}
</h2>

<p class="contents">
    {{message}}
</p>

{{#if clickable}}
    <div class="closePopupNotification" {{ action "close" on="click" bubbles=false}}>
    </div>
{{/if}}