$breakpoint--maxPageContent: 1250px;

$breakpoint--mainContentMargin: 1050px;

$breakpoint--3ColumnsDisplay2: 700px;
$breakpoint--3ColumnsDisplayAll: 950px;

$breakpoint--defaultContentViewPadding: 900px;

$breakpoint--genericSectionBlockHalfColumns: 750px;

$breakpoint--showSearchInHeader: 470px;
$breakpoint--showFacebookInHeader: 600px;
$breakpoint--showTwitterInHeader: 750px;

$breakpoint--logoWidth1: 350px;
$breakpoint--logoWidth2: 400px;
$breakpoint--logoWidth3: 500px;
$breakpoint--logoWidth4: 600px;
$breakpoint--logoWidth5: 760px;

$breakpoint--defaultArticleViewReadMoreArticlesSplitToGrid: 760px;