#footerContainer
  %footer#footer
    -#missionStatement
      %p The Franklin Post works to educate and informs its readers. We encourage the community to question our ideas, as well as the events we report on. As a staff we strive to give voice to the voiceless and to inspire the community as a whole.
      %p The Franklin Post is a student-run newspaper and a public forum under Ore. Rev. Stat. &sect; 336.477 (2007). The staff strives for accuracy in its reporting and coverage, and is dedicated to creating an exceptional newspaper that serves the Franklin community on time.
      %p We encourage members of the Franklin community to contribute to the Post. We invite guest reporting and editorials that represent the wide range of viewpoints found in the Franklin community. Contributions are subject to the editorial policies of The Franklin Post and may be edited for length, grammar, spelling, libel, obscenity, or plagiarism.
      %p
        If you would like to donate to, or advertise in The Franklin Post, please email our adviser, Elizabeth Kirsch, at
        %a{href: 'mailto:ekirsch@pps.net'} ekirsch@pps.net
    %p#copyright= '&copy; 2015 The Franklin Post, All rights reserved.'.html_safe