#headerContainer
  #notice
    .noticeClose
      %span#closeDelNotice
    .noticeContents
      %h1 Ferguson police offer Darren Wilson will not be indicted in the shooting of Michael Brown.
  #navOpen
    %span#actnOpenNav.fakeLink
  %header#header
    .majorLogo
      %a{href: '/'}
        %img.mainHeaderLogo{src: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/162249/main-logo-8.jpg'}
        %h1.headerSiteTitle The Franklin Post
    .navContainer
      %nav#navigation
        %ul.navMenu
          %li.navItem
            %a{href: '#'} News
          %li.navItem
            %a{href: '#'} Feature
          %li.navItem
            %a{href: '#'} Forum
          %li.navItem
            %a{href: '#'} Sports
          %li.navItem
            %a{href: '#'} A & E
          %li.navItem
            %a{href: '#'} Literary
          %li.navItem
            %a{href: '#'} Posterior
    .headerOutlets
      .functional
        #fnSearch
          %span#openSearch.smBtn.fakeLink
          #searchBox
            %form#searchAction{action: '#', method: 'GET'}
              %input#searchText{type: 'text', placeholder: 'Search'}
      .socialMedia
        %a#fbDirect.smBtn{href: 'https://www.facebook.com/fhspost', target: '_blank'}
        %a#twitterDirect.smBtn{href: 'https://twitter.com/fhspost', target: '_blank'}
        %a#rssDirect.smBtn{href: '#', target: '_blank'}