article.partialOverlay
{
  position: relative;
  overflow: hidden;

  &:not(:first-child)
  {
    top: -3px;

    @include breakpoint($primaryContentBreakpoint)
    {
      top: 0;
    }
  }

  > .featuredImage
  {
    > img
    {
      width: 100%;
    }
  }
}

.imaginaryOverlay
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pOverlayContents
{
  position: absolute;
  bottom: 3px;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'proxima-nova', sans-serif;

  > .headline
  {
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 2.5em;

    > a
    {
      text-decoration: none;
      display: inline;
      color: #FFF;

      &:hover
      {
        color: #FF5A5A;
      }
    }
  }

  > .excerpt
  {
    display: none;
    margin-bottom: 5px;
    color: #FFF;

    @include breakpoint($primaryContentBreakpoint)
    {
      display: block;
    }
  }

  > .byline
  {
    display: block;
    color: #FFF;
    font-size: 0.55em;

    > .author
    {
      display: inline-block;
      font-weight: 700;
      color: #FFF;
      color: rgba(255, 255, 255, 0.6);
      font-size: 1.5em;
      padding-left: 2px;
    }

    > .category
    {
      font-weight: 600;
      font-size: 1.3em;
      padding-left: 5px;

      > a
      {
        text-decoration: none;
        color: #FF0000;
      }
    }
  }
}