.navContainer
{
  display: none;

  @include breakpoint($showFullMenuBreakpoint)
  {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
  }
}

.navMenu
{
  list-style: none;
}

#headerContainer.minimized
{
  .navItem
  {
    > a
    {
      line-height: $miniHeaderHeight;
    }
  }

  .headerOutlets
  {
    line-height: $miniHeaderHeight;
  }
}

.navItem
{
  display: inline-block;
  font-family: 'proxima-nova';

  > a
  {
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: $fullHeaderHeight;
    padding-left: 15px;
    padding-right: 15px;
    font-size: .95em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;

    &:hover
    {
      background: rgb(30, 139, 195);
      background: rgba(30, 139, 195, 0.8);
    }
  }

  &.selected
  {
    > a
    {
      background: rgba(242, 120, 75, 1);
    }
  }
}