<div id="authContainer">
    <main id="auth">
        <div id="loginContainer">
            <form id="forgotPassword" class="forgotPassword auth noStack" autocomplete="off" {{ action "forgotPasswordSubmit" on="submit" }}>
                {{ input name="email" class="authInputBox" placeholder="Email Address" type="text" value=email }}
                <button id="forgotPasswordButton" class="authButton" {{ action "forgotPasswordSubmit" on="click" }}>Reset Password</button>
                <div class="authFormHelpers">
                    <a href="/login" class="authHelperLink" {{ action "backToLogin" on="click" bubbles=false }}>Back to Login</a>
                </div>
            </form>
        </div>
    </main>
</div>