.can-flexbox
{
  .columns
  {
    @include display-flexbox;
    @include flex-wrap(wrap);

    > *
    {
      margin-left: 0;
      display: block;
    }

    > .sibGroup
    {
      // Originally set to fix extra width caused by inline-block
      // Flexbox doesn't have any of that nonsense
      margin-left: 0;
    }
  }

  .colThirds
  {
    > .mastGroup
    {
      width: 33.3333333333333333333333333333333%;
    }

    > .sibAGroup
    {
      width: 33.3333333333333333333333333333333%;
    }

    > .sibBGroup
    {
      width: 33.3333333333333333333333333333333%;
    }
  }
}

.columns
{
  > *
  {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;

    &:first-child
    {
      margin-left: 0;
    }
  }

  &.noBorderLine
  {
    background: none;
  }
}

.ge3
{
  .sibAGroup
  {
    @include breakpoint($breakpoint--3ColumnsDisplayAll)
    {
      background: url(image-path('light-border-line.gif')) repeat-y;
      background-position: 100% 0;
    }
  }
}

.col6A4
{
  background-position: 60% 0;

  > .mastGroup
  {
    width: 60%;
  }

  > .sibAGroup
  {
    width: 40%;

    // Sets this next to .mastGroup node...inline-block adds
    // a few pixels of width
    margin-left: -5px;
    vertical-align: top;
  }
}

.col4A3B3
{
  //background-position: 40% 0;

  @include breakpoint($breakpoint--3ColumnsDisplay2)
  {
    background: url(image-path('light-border-line.gif')) repeat-y;
    background-position: 60% 0;
  }

  @include breakpoint($breakpoint--3ColumnsDisplayAll)
  {
    background: url(image-path('light-border-line.gif')) repeat-y;
    background-position: 40% 0;
  }

  > *
  {
    width: 100%;
  }

  > .mastGroup
  {
    @include breakpoint($breakpoint--3ColumnsDisplay2)
    {
      width: 60%;

      > *
      {
        margin-right: 20px;
      }
    }

    @include breakpoint($breakpoint--3ColumnsDisplayAll)
    {
      width: 40%;
    }
  }

  .sibAGroup
  {
    @include breakpoint($breakpoint--3ColumnsDisplay2)
    {
      width: 40%;

      > *
      {
        margin-right: 20px;
      }
    }

    @include breakpoint($breakpoint--3ColumnsDisplayAll)
    {
      width: 30%;
    }
  }

  .sibBGroup
  {
    @include breakpoint($breakpoint--3ColumnsDisplayAll)
    {
      width: 30%;
    }
  }
}

.colThirds
{
  > .mastGroup
  {
    width: 33%;
  }

  > .sibAGroup
  {
    width: 34%;
  }

  > .sibBGroup
  {
    width: 33%;
  }
}

.colHalves
{
  > *
  {
    display: inline-block;
    width: 50%;
  }
}