.overlayedStory
{
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;

  > img
  {
    visibility: hidden;
    width: 100%;
  }

  > .overlayLink
  {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }

  > .overlayDetails
  {
    position: relative;
    z-index: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 15px;

    @include propertyOnAllSidesExcept('padding', 'bottom', 20px);

    > a
    {
      display: inline;
      width: 100%;
      text-decoration: none;
      clear: both;
    }

    .storyTitle
    {
      color: #FFF;
      display: inline;
      font-size: 1.7em;
      font-family: 'proxima-nova', sans-serif;
      font-weight: 800;

      &:hover
      {
        color: #FF5A5A;
      }

      @include transition(color ease 0.25s);
    }

    > .storyByline
    {
      margin-top: 5px;

      .authorLink
      {
        text-decoration: none;

        > .author
        {

        }
      }
    }
  }
}