.tabuList
{
  > header
  {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;

    > .title
    {
      font-family: 'proxima-nova', sans-serif;
      font-weight: 800;
      font-size: 1.3em;
      color: #4C4C4C;
    }
  }

  > .items
  {
    margin-top: 15px;
  }
}

.columns
{
  .tabuList
  {
    > header
    {
      @include breakpoint($breakpoint--3ColumnsDisplayAll)
      {
        margin-left: 20px;
      }
    }
  }
}