<div id="sidebarContainer">
    <aside id="sidebar">
        <!--<nav id="navMenu">
            <div class="menuItem">
                <div class="menuIcon articlesIcon"></div>
                <div class="menuTitle">Articles</div>
                <div class="subMenu">
                    <div class="subMenuItem">
                        <div class="subMenuTitle">All Articles</div>
                    </div>
                </div>
            </div>
            <div class="menuItem">
                <div class="menuIcon sectionsIcon"></div>
                <div class="menuTitle">Sections</div>
                <div class="subMenu">
                    <div class="subMenuItem">
                        <div class="subMenuTitle">All Sections</div>
                    </div>
                </div>
            </div>
            <div class="menuItem">
                <div class="menuIcon usersIcon"></div>
                <div class="menuTitle">Users</div>
                <div class="subMenu">
                    <div class="subMenuItem">
                        <div class="subMenuTitle">All Users</div>
                    </div>
                </div>
            </div>
        </nav>-->
    </aside>
</div>