header.dragContentTypeSelect
{
  height: 50px;

  > nav
  {
    @include display-flexbox;
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
  }
}

.dragContentType
{
  display: inline-block;
  border-radius: 3px;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;

  &.selected
  {
    background: #29B6F6;
  }

  &:hover
  {
    background: #B3E5FC;
  }

  &:last-of-type
  {
    margin-right: 0;
  }
}