.contentTable
{
  width: 100%;

  @include box-shadow(0 0 3px rgba(0,0,0,0.2));

  > thead
  {
    border: 1px solid #E5E5E5;
  }
}

.contentTableLabel
{
  padding: 5px 10px;
  display: none;
}

.contentEntryProperty
{
  padding: 8px 10px;
  vertical-align: top;
  display: none;
}