.genericSectionBlock
{
  > .sectionSidebar
  {
    > .title
    {
      > a
      {
        &:after
        {
          font-family: 'FontAwesome';
          content: '\f061';
          margin-left: 15px;
        }
      }
    }
  }
  .sectionContents
  {
    > *
    {
      margin-top: 20px;
    }

    .colHalves
    {
      &:first-of-type
      {
        margin-top: 0;
      }

      > *
      {
        width: 100%;

        @include breakpoint($breakpoint--genericSectionBlockHalfColumns)
        {
          width: 50%;

          &:first-child
          {
            padding-right: 10px;
          }

          &:last-child
          {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .leadStory
  {
    .overlayDetails
    {
      > .storyByline
      {
        margin-top: 10px;
        color: #FFF;

        > .authors
        {
          .author
          {
            color: #FFF;
          }
        }
      }

      @include breakpoint($breakpoint--genericSectionBlockHalfColumns)
      {
        padding-right: 10px;
      }
    }

    .storyExcerpt
    {
      margin-top: 20px;
    }
  }

  .tabuList
  {
    margin-top: 20px;

    header
    {
      margin-left: 0;

      .sectionName
      {
        color: maroon;
      }
    }

    .story
    {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #E6E6E6;

      &:first-of-type
      {
        padding-top: 0;
      }

      &:last-of-type
      {
        border-bottom: none;
      }

      .storyTitle
      {
        font-weight: 700;
        font-size: 1.05em;
      }
    }

    @include breakpoint($breakpoint--genericSectionBlockHalfColumns)
    {
      margin-top: 0;
      padding-left: 10px;
    }
  }
}