.flexbox
{
  .articleColumns
  {
    @include display-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .columnArticle
    {
      @include breakpoint($primaryContentBreakpoint)
      {
        // @todo Probably shouldn't be doing this...fix this ASAP using selector precedence in the future; may cause some issues.
        padding: 0 !important;
      }
    }
  }
}

.articleColumns
{
  &.three
  {
    .columnArticle
    {
      padding: 2px 15px 15px 15px;
      width: 100%;
      display: block;
      border-bottom: 1px solid #e3e3e3;

      @include breakpoint($primaryContentBreakpoint)
      {
        padding-left: 0;
        padding-top: 0;
        width: 33.33333333333333333333333%;
        display: inline-block;
        border-bottom: none;

        &:last-of-type
        {
          padding-right: 0;
        }
      }
    }
  }
}

.columnArticle
{
  margin-right: -4px;
  vertical-align: top;

  > .primary
  {
    > .headline
    {
      line-height: 100%;
      font-weight: 700;
      font-size: 1.1em;
      width: 100%;
    }
  }

  > .metaInfo
  {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;

    > .excerpt
    {
      margin-top: 0;
      width: 100%;
    }
  }

  &.visual
  {
    .mainImage
    {
      float: right;
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;

      @include breakpoint($primaryContentBreakpoint)
      {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        float: none;
      }

      img
      {
        width: 80px;
        height: 80px;

        @include breakpoint($primaryContentBreakpoint)
        {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.promoteRM
{
  margin-top: 5px;
  font-weight: 700;
  font-size: 0.7em;

  > a
  {
    text-decoration: none;
    color: #993232;

    &:hover
    {
      color: #474747;
    }

    &:after
    {
      font-family: 'FontAwesome';
      content: '\f105';
      padding-left: 5px;
      vertical-align: middle;
    }
  }
}