$primaryMenuColor: #2196F3;

$headerHeight: 40px;

$sidebarWidth: 150px;
$sidebarBreakpointHide: 950px;

$headerSidebarBGColorHex: #242628;
$headerSidebarBGColorRGBA: rgba(#242628, 0.97);

$mainContentPadding: 20px;
$mainContentSidePadding: 15px;

$icons--Close: '\f00d';

$navIcons--Article: '\f040';
$navIcons--Section: '\f0db';
$navIcons--User: '\f0c0';

$navItemHoverColor: rgba(#666, 1);

$navSubMenuBGColorHex: #242628;
$navSubMenuBGColorRGBA: rgba(#242628, 0.85);

$articlesContentTableBreakpoint: 800px;

$articleFormTopMargin: 15px;

$articleTagsBGColor: #BDBDBD;

$articleConfigBoxColumnMaxWidth: 325px;

$mediaLibraryTopBarHeight: 50px;
$mediaLibraryDefaultHeight: 50px;
$mediaLibraryNavWidth: 150px;