#contentContainer
  %main#main
    #pageContent
      #fpLead
        #fpFeaturedContent.col4A3B3.columns.ge3
          .mastGroup
            %article.story.mainStory.large
              %a.storyPictureLinkBox{href: '#'}
                %figure.storyPVImage.large
                  %img.largeStoryImage.storyImage{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
                  %span.imageCredit Jason Chen
              .storyDetails
                %a{href: '#'}
                  %h2.storyTitle.em Civil Rights Investigation in Ferguson Continues
                %div.storyByline
                  by
                  %a.authorLink{href: '#'}
                    %address.author Jason Chen
                  %time.publishingTime 03.24.2015
                %div.storyExcerpt
                  Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
            %article.story
              %a.storyPictureLinkBox{href: '#'}
                %figure.storyPVImage
                  %img.storyImage{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
              .storyDetails
                %a{href: '#'}
                  %h2.storyTitle Civil Rights Investigation in Ferguson Continues
                %div.storyByline
                  by
                  %a.authorLink{href: '#'}
                    %address.author Jason Chen
                  %time.publishingTime 03.24.2015
                %div.storyExcerpt
                  Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
            %article.story
              %a.storyPictureLinkBox{href: '#'}
                %figure.storyPVImage
                  %img.storyImage{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
              .storyDetails
                %a{href: '#'}
                  %h2.storyTitle Civil Rights Investigation in Ferguson Continues
                %div.storyByline
                  by
                  %a.authorLink{href: '#'}
                    %address.author Jason Chen
                  %time.publishingTime 03.24.2015
                %div.storyExcerpt
                  Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
            %article.story
              %a.storyPictureLinkBox{href: '#'}
                %figure.storyPVImage
                  %img.storyImage{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
              .storyDetails
                %a{href: '#'}
                  %h2.storyTitle Civil Rights Investigation in Ferguson Continues
                %div.storyByline
                  by
                  %a.authorLink{href: '#'}
                    %address.author Jason Chen
                  %time.publishingTime 03.24.2015
                %div.storyExcerpt
                  Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
            %article.story.large
              %a.storyPictureLinkBox{href: '#'}
                %figure.storyPVImage
                  %img.storyImage{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
              .storyDetails
                %a{href: '#'}
                  %h2.storyTitle Civil Rights Investigation in Ferguson Continues
                %div.storyByline
                  by
                  %a.authorLink{href: '#'}
                    %address.author Jason Chen
                  %time.publishingTime 03.24.2015
                %div.storyExcerpt
                  Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
          .sibAGroup
            %article.story.large
              %a.storyPictureLinkBox{href: '#'}
                %figure.storyPVImage.large
                  %img.largeStoryImage.storyImage{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
              .storyDetails
                %a{href: '#'}
                  %h2.storyTitle Civil Rights Investigation in Ferguson Continues
                %div.storyByline
                  by
                  %a.authorLink{href: '#'}
                    %address.author Jason Chen
                  %time.publishingTime 03.24.2015
                %div.storyExcerpt
                  Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
            %article.story
              %a.storyPictureLinkBox{href: '#'}
                %figure.storyPVImage
                  %img.storyImage{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
              .storyDetails
                %a{href: '#'}
                  %h2.storyTitle Civil Rights Investigation in Ferguson Continues
                %div.storyByline
                  by
                  %a.authorLink{href: '#'}
                    %address.author Jason Chen
                  %time.publishingTime 03.24.2015
                %div.storyExcerpt
                  Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
          .sibBGroup
            .tabuList
              %header
                %h4.title Popular Articles
              .items
                %article.story
                  %a.storyPictureLinkBox{href: '#'}
                    %figure.storyPVImage
                      %img.storyImage{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
                  .storyDetails
                    %a{href: '#'}
                      %h2.storyTitle Civil Rights Investigation in Ferguson Continues
                    %div.storyByline
                      by
                      %a.authorLink{href: '#'}
                        %address.author Jason Chen
                      %time.publishingTime 03.24.2015
                    %div.storyExcerpt
                      Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
                %article.story
                  .storyDetails
                    %a{href: '#'}
                      %h2.storyTitle Civil Rights Investigation in Ferguson Continues
                    %div.storyByline
                      by
                      %a.authorLink{href: '#'}
                        %address.author Jason Chen
                      %time.publishingTime 03.24.2015
                    %div.storyExcerpt
                      Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
                %article.story
                  %a.storyPictureLinkBox{href: '#'}
                    %figure.storyPVImage
                      %img.storyImage{src: 'http://imx.dy.cache.fhspost-static.com/9860bef4a9a5ae962d7e0a153579ecd9e301305203e9090d33a11a0342bc801f_Dec-18-2014_8504146027_b575806d52_b.jpg?auto=format'}
                  .storyDetails
                    %a{href: '#'}
                      %h2.storyTitle Civil Rights Investigation in Ferguson Continues
                    %div.storyByline
                      by
                      %a.authorLink{href: '#'}
                        %address.author Jason Chen
                      %time.publishingTime 03.24.2015
                    %div.storyExcerpt
                      Comcast and Time Warner Cable, the two largest cable companies operating in the United States, want to merge, and that's a big problem.
