#footerContainer
{
  background: #000;
}

#footer
{
  padding: 30px;
  color: #FFF;
}

#copyright
{
  text-align: right;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}