#headerContainer
{
  width: 100%;
  height: $headerHeight;
  background: #FFF;
  border-bottom: 1px solid #E6E6E6;
}

#openMenu
{
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
  vertical-align: middle;
  line-height: $headerHeight;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid #E6E6E6;

  &:after
  {
    font-family: 'FontAwesome';
    content: '\f0c9';
    font-size: 25px;
    color: #B8B8B8;
  }
}

#siteTitle
{
  text-align: center;
}